@import '../../../../styles/variables.scss';

@mixin buttonScss {
  padding: 0px 30px;
  width: 305px;
  height: 48px;
  border: none;
  background-color: black;
  color: white;
  font-size: $fontsize3;
  cursor: pointer;
}

.tendencyDetail {
  margin: 30px;
  align-items: center;
  text-align: center;

  .imformationBoxHide {
    display: none;
  }

  .imformationBox {
    .imformation {
      margin-bottom: 40px;
      align-items: center;
      font-family: $title-font;
    }

    .startButton {
      margin: auto 30px;
      padding: 0px 30px;
      @include buttonScss;
    }
  }

  .tendencyTestHide {
    display: none;
  }

  .tendencyTest {
    .questionBox {
      display: flex;
      justify-content: center;
    }

    .questionTitle {
      margin-bottom: 30px;
      font-size: 16px;
      font-family: $title-font;
    }

    .buttonBox {
      Button {
        margin: 5px 0px 10px 0px;
        @include buttonScss;
      }

      :hover {
        background-color: #d7d8d6;
        border: 1px solid black;
        color: black;
      }
    }
  }

  .resultInfoBoxHide {
    display: none;
  }

  .resultInfoBox {
    .resultInfo {
      margin-bottom: 30px;
      font-size: 16px;
      font-family: $title-font;
    }

    button {
      @include buttonScss;
    }
  }

  .resetHide {
    display: none;
  }

  .reset {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border: none;
    font-size: 32px;
    background-color: #d7d8d6;
    cursor: pointer;
  }

  .resultProductHide {
    display: none;
  }

  .resultProduct {
    cursor: pointer;

    img {
      width: 200px;
      height: fit-content;
    }

    div {
      margin-top: 30px;
    }
  }
}
