@import '../../styles/variables.scss';

.productDetailInfo {
  width: 1158px;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;

  &:hover {
    cursor: pointer;
  }

  .infoHeader {
    display: flex;
    justify-content: space-between;
    padding: 46px 0px;
  }

  .productInfoBtn {
    background: none;
    border: none;

    .down {
      width: 16px;
      transform: rotate(90deg);
    }

    .up {
      width: 16px;
      transform: rotate(90deg);
    }
  }

  .title {
    font-size: $fontsize2;
    font-family: $title-font;
  }

  .info {
    padding: 12px 0px 46px 0px;
    font-size: $fontsize3;
    line-height: 20px;
  }
}
