@import '../../styles/variables.scss';

.mainSlider {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  transition: 0.5s;
}

%btnStyles {
  position: absolute;
  top: 50%;
  width: 25px;
  background: none;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  filter: invert(93%) sepia(7%) saturate(27%) hue-rotate(53deg) brightness(106%)
    contrast(106%);
}

.goLeft {
  @extend %btnStyles;
  left: 40px;
}

.goRight {
  @extend %btnStyles;
  right: 40px;
}
