@import '../../../../styles/variables.scss';

.myPageNavBar {
  .myPageNav {
    padding: 0px 44px 48px 44px;
    font-size: $fontsize3;

    .myPageLogin {
      .titleMyPage {
        padding: 32px 0px;
        font-weight: 600;
      }

      .loginBox {
        display: flex;
        flex-direction: column;
        align-items: center;

        .loginInput {
          margin-bottom: 24px;
          padding: 10px;
          width: 100%;
          height: 46px;
          border: 1px solid #bebdbd;
          outline: none;
          &:hover {
            border: 1px solid black;
          }
        }
      }

      .findPassWord {
        padding-bottom: 32px;
        font-size: $fontsize3;
      }

      button {
        margin: 24px 0px;
        height: 48px;
        width: 100%;
        color: white;
        border: none;
        background-color: black;
      }

      .under {
        display: flex;
        margin: 30px;
        margin-top: 0px;
        justify-content: space-between;

        .join {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .myPageLoginComplete {
      div {
        margin: 30px;
        text-decoration: underline;
        font-weight: bolder;
        color: black;
        cursor: pointer;
      }
    }
  }
}
