@import '../../../../styles/variables.scss';

.shopping {
  font-size: $fontsize3;

  .shoppingNav {
    padding: 0px 44px 48px 44px;
    max-height: 400px;
    overflow: scroll;

    .mainTitle {
      padding: 32px 0px;
      letter-spacing: 2px;
      font-weight: bolder;

      .goProductDetailList {
        text-decoration: none;
        color: black;
        cursor: pointer;
      }
    }

    .category {
      display: flex;
      width: 150px;
    }
  }
}
