@import '../../styles/variables.scss';

.mediaAsset {
  margin: 0px 25px;
  text-align: center;

  .productImg {
    width: 602px;
    height: 662px;
    object-fit: cover;
  }

  .text {
    margin-top: 50px;
  }

  .title {
    margin-top: 30px;
  }
}
